.title{
    display: flex;
    justify-content: center;	
}
#twocols{
	display: flex;
	margin: 0 20%;
}
#left{
	display: flex;
	justify-content: center;
	width: 50%;
}
#left > img{
	width: 50%;
}
#right{
    width: 50%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
#right > a{
	margin: 0 auto;
}
.spacebottomone{
	margin-bottom: 10px;
}
.spacebottomtwo{
	margin-bottom: 20px;
}
#homelink{
    position: absolute;
    top: 10px;
    right: 20px;
}